@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
@import "variables";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lexend Deca", sans-serif;
  color: $secondaryColor;
}

.container {
  margin: 5% auto;
  min-width: 980px;
  width: 50%;

  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & .column-1,
  .column-2,
  .column-3 {
    width: 50%;
    height: inherit;
  }
}

.column-1 {
  background-color: $brightOrange;
  @include flex();
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 46px;

  & p {
    @include para($primaryColor);
  }
  & h2 {
    @include heading();
  }
  & .btn {
    @include button($brightOrange);

    &:active {
      background-color: $brightOrange;
      color: #fff;
      border: 1px solid #fff;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.column-2 {
  background-color: $DarkCyan;
  @include flex();
  padding: 46px;
  & p {
    @include para($primaryColor);
  }
  & h2 {
    @include heading();
  }
  & .btn {
    @include button($DarkCyan);
    &:active {
      background-color: $DarkCyan;
      color: #fff;
      border: 1px solid #fff;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.column-3 {
  background-color: $vDarkCyan;
  @include flex();
  padding: 46px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  & p {
    @include para($primaryColor);
  }
  & h2 {
    @include heading();
  }
  & .btn {
    @include button($vDarkCyan);
    &:active {
      background-color: $vDarkCyan;
      color: #fff;
      border: 1px solid rgb(5, 4, 4);
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.author-name {
  position: absolute;
  color: black;
  font-size: 2rem;
  letter-spacing: 1px;

  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Moblie screen
@media only screen and (max-width: 375px) {
  .author-name {
    display: none;
  }
  section {
    margin: 0;
  }
  .container {
    width: 100%;
    min-width: 0;
    margin: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    word-wrap: break-word;

    & .column-1,
    .column-2,
    .column-3 {
      width: 100vw;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
